<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div align="center">

		<a href="/books/viewBookByUser">View Books</a> 
		<a href="/books/search">SearchBook</a> 
		<a href="/books/orderBook">Order Book</a>
		<a href="/books/returnBook">Return Book</a>

		<!--  	<table border="1" >
			<thead>
				<tr>
					<th>Id</th>
					<th>Book Name</th>
					<th>Author Name</th>
					<th>Quantity</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book : ${allBooks}">
					<td th:text="${book.id}"></td>
					<td th:text="${book.bookname}"></td>
					<td th:text="${book.author}"></td>
					<td th:text="${book.quantity}"></td>
					<td><a th:href="@{/books/edit/{id}(id=${book.id})}">Update</a></td>
					<td><a th:href="@{/books/delete/{id}(id=${book.id})}">Delete</a>
				
					
					</td>
				</tr>
			</tbody>
		</table> -->
		
		 <div align="center">
		<form action="#" th:action="@{/users}" th:object="${book}"
			method="get">
			<input type="submit" value="Logout">
		</form>
	</div>
	</div>
</body>
</html>