<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div align="center">
		<h3>Welcome User
		
		</h3>
		<a href="/student/viewBookByUser">View Books</a> <a
			href="/student/search">SearchBook</a> 
			<a href="/users/orderBook">OrderBook</a> 
			<a href="/student/returnBook">Return Book</a>

		<!--   <table border="1">
			<thead>
				
			</thead>
			<tbody>
				<tr>
					<th>Id</th>
					<th>Book Name</th>
					<th>Author Name</th>
					<th>Quantity</th>
				</tr>
				<tr th:each="book : ${studentViewBook}">
					<td th:text="${book.id}"></td>
					<td th:text="${book.bookname}"></td>
					<td th:text="${book.author}"></td>
					<td th:text="${book.quantity}"></td>
				</tr>
			</tbody>
		</table>
-->
		<div align="center">
			<form action="#" th:action="@{/users}" th:object="${book}"
				method="get">
				<input type="submit" value="Logout">
			</form>
		</div>
	</div>
</body>
</html>